.container {
    transition: height 150ms ease;
    margin: 0px 2px;
    flex-grow:1;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}
.stick {
    border: solid 1px black;
    transition: height 150ms ease;
    flex-grow:1;
    width: 80%;
    min-width: 1em;
    margin: 1px;
    border-radius: 2px;
}
